
*{
    padding: 0px;
    margin: 0px;
    scrollbar-width: none;
    font-family: minecraft_font;
    /* outline: 3px solid red; */

    --main: 100vh;
    --page: calc(100% - 400px);
}

*::-webkit-scrollbar{
    display: none;
}

@font-face{
    font-family: minecraft_font;
    src: url(resources/minecraft/Minecraft.ttf);
}

/*----------------------------------CLASSES----------------------------------*/

.global_background{
    background-image: url(resources/backgrounds/spruce_planks.png);
}

.global_divmain{
    height: var(--main);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.global_divmenu{
    height: 100%;
    width: 200px;
    background-image: url(resources/backgrounds/stripped_oak_log.png);
    background-position: right;
}

#toggle:checked ~ .global_divmenu {
    background-image: url(resources/not_used_directly/moss_block.png);
  }

.global_divflex1{
    height: 100%;
    width: calc(100% - 200px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.global_divheader{
    height: 200px;
    width: 100%;
    background-image: url(resources/command_wiki_logo.png), url(resources/backgrounds/header_moss.png);
    background-position: right top, bottom;
    background-repeat: no-repeat, repeat;
    background-size: 170px 170px, 100px 200px;
}

.global_divfooter{
    height: 200px;
    width: 100%;
    background-image: url(resources/backgrounds/stone.png);
}

.global_divflex2{
    height: var(--page);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.global_divpagemenu{
    height: calc(100% - 80px);
    width: calc(15% - 65px);
    margin: 0px 10px 40px 15px;
    background-image: url(resources/backgrounds/light_gray_stained_glass.png);
    border-radius: 25px;
    outline: 6px solid #9999999b;
    font-size: 17px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
}

.global_divpage{
    height: calc(100% - 90px);
    width: calc(85% - 75px);
    margin: 0px 15px 40px 10px;
    background-image: url(resources/backgrounds/white_stained_glass.png);
    border-radius: 50px;
    outline: 6px solid #ffffff9b;
    font-size: 17px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
}

.checkbox{
    opacity: 0%;
    left: -100vh;
    position: absolute;
}

/*-----------------------------------MEDIA-----------------------------------*/

@media (max-height: 750px){
    .global_divflex2{
        height: 350px;
    }
}

@media (max-height: 750px){
    .global_divheader, .global_divfooter{
        height: calc(50% - 175px);
    }
}

@media (max-height: 725px){
    .global_divheader{
        background-size: 70px 70px, 100px 200px;
    }
}

@media (max-height: 550px){
    .global_divheader, .global_divfooter{
        height: 100px;
    }
}

@media (max-height: 550px){
    .global_divmain{
        height: 550px;
    }
}

@media (max-width: 1000px){
    .global_divmenu{
        width: calc(100% - 800px);
    }
}

@media (max-width: 1000px){
    .global_divflex1{
        width: 800px;
    }
}

@media (max-width: 800px){
    .global_divmenu{
        width: 0%;
    }
}

@media (max-width: 800px){
    .global_divflex1{
        width: 100%;
    }
}