
*{
    padding: 0px;
    margin: 0px;
    scrollbar-width: none;
    font-family: minecraft_font;
    /* outline: 3px solid red; */

    --main_height: 100vh;
    --main_width: 100vw;
    --page_height: calc(100% - 400px); 
    --menu_width: 0%;
    --flex1_width: 100%;
    --pagemenu_width: 100px;
    --page_width: calc(100% - 140px - var(--pagemenu_width));
}

*::-webkit-scrollbar{
    display: none;
}

@font-face{
    font-family: minecraft_font;
    src: url(resources/minecraft/Minecraft.ttf);
}

/*----------------------------------CLASSES----------------------------------*/

.global_background{
    background-image: url(resources/backgrounds/spruce_planks.png);
}

.global_divmain{
    height: var(--main_height);
    width: var(--main_width);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.global_divmenu{
    height: 100%;
    width: var(--menu_width);
    background-image: url(resources/backgrounds/stripped_oak_log.png);
    background-position: right;
}
.global_divflex1{
    height: 100%;
    width: var(--flex1_width);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#toggle:checked ~ *{
    --menu_width: 200px;
    --flex1_width: calc(100% - var(--menu_width));
}

#toggle:checked ~ .global_divmenu{
       animation: menu_animation 1s 1 alternate forwards;
}

#toggle:checked ~ .global_divflex1{
    animation: flex1_animation 1s 1 alternate forwards;
}

.global_divheader{
    height: 200px;
    width: 100%;
    background-image: url(resources/backgrounds/header_moss.png);
    background-position: bottom;
    background-repeat: repeat;
    background-size: 100px 200px;
}

.global_divfooter{
    height: 200px;
    width: 100%;
    background-image: url(resources/backgrounds/stone.png);
}

.global_divflex2{
    height: var(--page_height);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.global_divpagemenu{
    height: calc(100% - 80px);
    width: var(--pagemenu_width);
    margin: 0px 10px 40px 15px;
    background-image: url(resources/backgrounds/light_gray_stained_glass.png);
    border-radius: 25px;
    outline: 6px solid #9999999b;
    font-size: 17px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
}

.global_divpage{
    height: calc(100% - 90px);
    width: var(--page_width);
    margin: 0px 15px 40px 10px;
    background-image: url(resources/backgrounds/white_stained_glass.png);
    border-radius: 50px;
    outline: 6px solid #ffffff9b;
    font-size: 17px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
}

.checkbox{
    opacity: 0%;
    left: -100vh;
    position: absolute;
}

.logo{
    float: right;
    height: calc(100% - 30px);
}

.menu_knob{
    float: left;
    height: calc(100% - 60px);
}

/*-----------------------------------MEDIA-----------------------------------*/

/*-----height-----*/

@media (max-height: 750px){
    .global_divflex2{
        height: 350px;
    }
}

@media (max-height: 750px){
    .global_divheader, .global_divfooter{
        height: calc(50% - 175px);
    }
}

@media (max-height: 725px){
    .global_divheader{
        background-size: 100px 200px;
    }
}

@media (max-height: 550px){
    .global_divheader, .global_divfooter{
        height: 100px;
    }
}

@media (max-height: 550px){
    .global_divmain{
        height: 550px;
    }
}

/*-----width------*/

@media (max-width: 900px){
    *{
        --pagemenu_width: calc(100% - 140px - var(--page_width));
        --page_width: 660px;
    }
}

@media (max-width: 823px){
    *{
        --pagemenu_width: 0%;
        --page_width: 100%;
    }
}

@media (max-width: 823px){
    .global_divpagemenu{
        left: -100vh;
        position: absolute;
    }
}

@media (max-width: 600px){
    *{
        --main_width: 600px;
    }
}

/*---------------------------------ANIMATIONS--------------------------------*/

@keyframes menu_animation{
    from{
        width: 0%;
    }to{
        width: 200px;
    }
}

@keyframes flex1_animation{
    from{
        width: 100%;
    }to{
        width: calc(100% - var(--menu_width))
    }
}