<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="template.css">
    
  </head>
  <body>
    <section>
      <div id="ContentTop">
        <div id="ContentLeft">
          <div id="HeadLeft">

            <a href="?" class="LinkBtn Here">Home</a>

            <div class="DropDown Here">
              <a class="DropBtn">test</a>
              <div class="DropContent">
                <a href="?">test1</a>
                <a href="?">test2</a>
                <a href="?">test3</a>
              </div>
            </div>

            <div class="DropDown">
              <a class="DropBtn">ananas</a>
              <div class="DropContent">
                <a href="?">test1</a>
                <a href="?">test2</a>
                <a href="?">test3</a>
              </div>
            </div>
            
            <a href="?" class="LinkBtn">wut</a>

          </div>
        </div>
        <div id="ContentCenter">
          <div id="HeadCenter">

            <h1>
              Portfolio
            </h1>
            <h2>
              Jaar
            </h2>

          </div>
          <div id="OverPic">

            <h1 class="OverPicContent">
              onderdeel
            </h1>
            <br>
            <P class="OverPicContent">
              tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst tekst 
            </P>

          </div>
        </div>
        <div id="ContentRight">
          <div id="HeadRight">

            <a href="?" class="LinkBtn">aaaaaaaaaa</a>
            <a href="?" class="LinkBtn">en nog een</a>

          </div>
          </div>
        </div>
      </div>
      <div id="ContentBottom">
        <div id="devider">
            
        </div>

        <div class="Devide">
          <div class="Left1">

          </div>
          <div class="Center1">

          </div>
          <div class="Right1">

          </div>
        </div>
        <div class="Devide">
          <div class="Left1">

          </div>
          <div class="Center2">

          </div>
        </div>
        <div class="Devide">
          <div class="Center2">

          </div>
          <div class="Right1">

          </div>
        </div>
        <div class="Devide">
          <div class="Left2">

          </div>
          <div class="Right2">

          </div>
        </div>

      </div>
    </section>
  </body>
</html>